@mixin focus-thin() {
  button,
  a {
    &:focus {
      box-shadow: $box-shadow-thin;
      transition: box-shadow 100ms ease-in-out;
    }
  }
}

@mixin focus-thick() {
  button,
  a {
    &:focus {
      box-shadow: $box-shadow-thick;
      transition: box-shadow 100ms ease-in-out;
    }
  }
}
