@mixin modal-full() {
  @include no-scrollbar;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  overflow-y: hidden;
  background-color: $white;
  overscroll-behavior: contain;
}

@mixin modal-top() {
  @include no-scrollbar;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  max-height: calc(100vh - 60px);
  min-height: 76vh;
  overflow-y: auto;
  background-color: $white;
  border-radius: 0 0 8px 8px;
  overscroll-behavior: contain;
}

@mixin modal-bottom {
  @include no-scrollbar;
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  height: calc(100vh - 32px);
  overflow-y: hidden;
  background-color: $white;
  border-radius: 8px 8px 0 0;
  overscroll-behavior: contain;
}

@mixin modal-left {
  @include no-scrollbar;
  position: fixed;
  top: 0;
  right: auto;
  bottom: auto;
  left: 0;
  width: 480px;
  height: 100vh;
  overflow-y: auto;
  background-color: $white;
  border-radius: 0;
  transform: none;
  overscroll-behavior: contain;
}

@mixin modal-right {
  @include no-scrollbar;
  position: fixed;
  top: 0;
  right: 0;
  bottom: auto;
  left: auto;
  width: 480px;
  height: 100vh;
  overflow-y: auto;
  overscroll-behavior: contain;
  border-radius: 8px 0 0 8px;
  transform: none;
  background-color: $white;
}

@mixin modal-center {
  @include no-scrollbar;
  @include pos-center(fixed);
  right: auto;
  bottom: auto;
  width: calc(100% - (36px * 2));
  height: calc(100vh - (36px * 2));
  overflow-y: auto;
  background-color: $white;
  border-radius: 8px;
  overscroll-behavior: contain;
}

@mixin modal-pos($sm: full, $md: right, $lg: right) {
  //NOTE: sm은 full, top, bottom만을 인수로 받는다.
  @if ($sm == full) {
    @include modal-full;
  }

  @if ($sm == top) {
    @include modal-top;
  }

  @if ($sm == bottom) {
    @include modal-bottom;
  }

  // NOTE: md이상은 left, right, center만을 인수로 받는다.
  @if ($md == left) {
    @include responsive(T) {
      @include modal-left;
    }
  }

  @if ($md == right) {
    @include responsive(T) {
      @include modal-right;
    }
  }

  @if ($md == center) {
    @include responsive(T) {
      @include modal-center;
    }
  }

  @if ($lg == left) {
    @include responsive('T-PRO') {
      @include modal-left;
    }
  }

  @if ($lg == right) {
    @include responsive('T-PRO') {
      @include modal-right;
    }
  }

  @if ($lg == center) {
    @include responsive('T-PRO') {
      @include modal-center;
    }
  }
}
