@mixin text-style-11() {
  font-size: $font-size-11;
  line-height: $line-height-11;
  letter-spacing: $letter-spacing-11;
}

@mixin text-style-12() {
  font-size: $font-size-12;
  line-height: $line-height-12;
  letter-spacing: $letter-spacing-12;
}

@mixin text-style-16() {
  font-size: $font-size-16;
  line-height: $line-height-16;
  letter-spacing: $letter-spacing-16;
}

@mixin text-style-14() {
  font-size: $font-size-14;
  line-height: $line-height-14;
  letter-spacing: $letter-spacing-14;
}

@mixin text-style-20() {
  font-size: $font-size-20;
  line-height: $line-height-20;
  letter-spacing: $letter-spacing-20;
}

@mixin text-style-22() {
  font-size: $font-size-22;
  line-height: $line-height-22;
  letter-spacing: $letter-spacing-22;
}

@mixin text-style-25() {
  font-size: $font-size-25;
  line-height: $line-height-25;
  letter-spacing: $letter-spacing-25;
}

@mixin text-style-36() {
  font-size: $font-size-36;
  line-height: $line-height-36;
  letter-spacing: $letter-spacing-36;
}

@mixin text-style($size, $color: false) {
  @if ($size == 11) {
    @include text-style-11;
  }

  @if ($size == 12) {
    @include text-style-12;
  }

  @if ($size == 14) {
    @include text-style-14;
  }

  @if ($size == 16) {
    @include text-style-16;
  }

  @if ($size == 20) {
    @include text-style-20;
  }

  @if ($size == 22) {
    @include text-style-22;
  }

  @if ($size == 25) {
    @include text-style-25;
  }

  @if ($size == 36) {
    @include text-style-36;
  }

  @if (type-of($color) == color) {
    color: $color;
  }
}
