.evaluation {
  &-title {
    @include text-style(14, $primary);
    margin-bottom: 32px;
    font-weight: 700;
  }

  &-item {
    @include flexbox(start);
    margin-bottom: 8px;

    &:last-child {
      margin: 0;
    }

    dt {
      @include text-style(14, $primary);
      order: 1;
      width: 40%;
    }

    .point {
      @include text-style(14, $primary);
      order: 3;
      width: 10%;
      text-align: right;
    }

    .bar {
      order: 2;
      width: 50%;
      padding: 0 20px;
    }
  }
}
