.option-modal-contents {
  h2 {
    height: 50px;
    font-size: 18px;
    font-weight: 700;
    line-height: 26px;
    color: $dark;
  }

  .option-link {
    @include flexbox(start);
    width: 100%;
    min-height: 90px;
    padding: 20px;
    margin-bottom: 20px;
    border: 1px solid $border;
    border-radius: 4px;
    transition: border-color 100ms ease-in-out;

    &:last-child {
      margin-bottom: 0;
    }

    &:hover {
      border-color: $tertiary;
    }

    &:active {
      border-color: $dark;
    }

    &.is-selected {
      border: 2px solid $blue;
    }
  }

  .option {
    @include text-style(14, $primary);
    flex-grow: 1;
    font-weight: 400;
    text-align: left;
  }

  .secondary-price {
    @include text-style(12, $primary);
    font-weight: 400;
  }

  img {
    width: 50px;
    margin-right: 20px;
  }

  .option-color {
    .option-link {
      flex-direction: row-reverse;
    }
  }

  @include responsive('T-PRO') {
    h2 {
      @include text-style(25);
      height: auto;
      margin-bottom: 32px;
    }
  }
}
