.order-form-info {
  @include flexbox(start);
  padding: 20px 0;
  border-bottom: 1px solid $border;

  i {
    margin-right: 12px;
    font-size: 24px;
  }

  p,
  a {
    @include text-style(14, $primary);
    flex-grow: 1;
    word-break: keep-all;
  }

  p {
    &::after {
      display: inline-block;
      width: 7px;
      height: 7px;
      margin-left: 8px;
      background-color: $green;
      border-radius: 50%;
      content: '';
    }
  }

  a {
    text-decoration: underline;

    &:hover {
      color: $dark;
    }
  }
}
