.order-form-option {
  a {
    @include inline-flexbox;
    width: 70px;
    height: 70px;
    margin-right: 4px;
    border: 1px solid transparent;
    border-radius: 4px;
    transition: border 200ms ease-in-out;

    &:hover {
      border: 1px solid $tertiary;
    }

    &.is-active {
      border: 2px solid $dark;

      &:hover {
        border-color: $tertiary;
      }
    }

    img {
      width: 54px;
    }
  }
}
