.order-form-summary {
  .summary-product {
    @include flexbox(between, start);
    flex-grow: 1;
    margin-bottom: 8px;
  }

  .summary-title {
    flex-grow: 1;

    h1 {
      font-size: 18px;
      font-weight: 700;
      line-height: 27px;
      color: $black;
      word-break: keep-all;
    }

    div {
      @include text-style(14, $primary);
      font-weight: 400;
    }
  }

  .summary-price {
    flex-shrink: 0;
  }

  .summary-star {
    a {
      @include flexbox(start);
      height: 20px;
    }

    a:hover {
      span {
        position: relative;
        text-decoration: underline;

        &::after {
          position: absolute;
          bottom: 2px;
          display: block;
          width: 100%;
          height: 1px;
          background-color: $primary;
          content: '';
        }
      }
    }

    .review {
      @include text-style(12, $primary);
      margin-left: 8px;
    }
  }
}
