.order-form {
  @include focus-thin;
  @include column-flexbox(start, start);

  & > * {
    width: 100%;
  }

  &-summary {
    position: relative;
    flex-wrap: wrap;
    order: 2;
    border-bottom: 1px solid $border;
  }

  &-option {
    &.is-color {
      order: 1;
      padding-bottom: 20px;
    }

    &.is-size {
      order: 3;
    }
  }

  &-finish {
    @include flexbox(start);
    order: 4;
    padding: 20px 0;

    .finish-button {
      flex-grow: 1;
      margin-right: 16px;
      font-weight: 700;
    }
  }

  &-info {
    &.is-delivery {
      order: 5;
    }

    &.is-stock {
      order: 6;
      border: 0;
    }
  }

  @include responsive(T) {
    .summary-title {
      h1 {
        @include text-style(22);
      }
    }

    &-option {
      &.is-color {
        margin: 0 -12px;
      }
    }
  }

  @include responsive('T-PRO') {
    position: sticky;
    top: 96px;
    padding: 0 40px;

    &-summary {
      order: 1;
    }

    &-option {
      &.is-color {
        order: 2;
        padding: 0;
        margin: 0;
        border-bottom: 1px solid $border;
      }
    }
  }
}
