.product-carousel {
  .slider {
    .slider-list {
      margin: 0 -20px;
    }

    .pagenation {
      @include flexbox(start);
      margin: 16px 0;
      background-color: $background;

      button {
        flex-grow: 1;
        height: 2px;
        border-radius: 10px;

        &.is-active {
          background-color: $black;
        }
      }
    }
  }
}
