.badge {
  p {
    @include text-style(12, $primary);
    margin-bottom: 8px;
  }

  .number {
    @include text-style(12, $white);
    padding: 4px 12px;
    font-weight: 700;
    background-color: $dark;
  }
}
