%price-base {
  font-size: 10px;
  font-weight: 700;
  line-height: 14px;
  color: $black;
}

.price-group {
  @include inline-flexbox(start, end);
  white-space: nowrap;

  .price {
    @extend %price-base;
    font-size: 16px;
    line-height: 19px;

    &::before {
      @extend %price-base;
      margin-right: 1px;
      vertical-align: super;
      content: '￦ ';
    }
  }

  .price-bundle {
    @extend %price-base;
    vertical-align: middle;

    &::before {
      content: '/ ';
    }
  }

  @include responsive(T) {
    .price {
      @include text-style(22);
    }

    .price::before,
    .price-bundle {
      font-size: 11px;
    }
  }
}
