.breadcrumb {
  @include focus-thick;

  &-list {
    @include flexbox(start);
    padding: 16px 0;
  }

  &-item {
    @include flexbox(start);
    position: relative;
    left: -8px;
    height: 21px;
    overflow: visible;
  }

  a,
  h4 {
    @include text-style(12, $dark);
    display: block;
    padding: 12px 8px;
    font-weight: 400;
    white-space: nowrap;
  }

  a {
    &:hover {
      text-decoration: underline;
    }
  }

  i {
    display: block;
    margin: 0 -6px;
    transform: rotate(-90deg);
  }
}
