.description {
  &-header {
    padding: 40px 0;

    p {
      @include text-style(20, $primary);
      margin-bottom: 24px;
      font-weight: 400;
    }

    h2 {
      @include text-style(12, $primary);
      margin-bottom: 8px;
    }
  }

  &-details {
    .modal-trigger-desc {
      border-top: 1px solid $border;
    }
  }

  @include responsive(T) {
    &-header {
      padding-bottom: 48px;

      p {
        max-width: 87.5%;
      }
    }
  }

  @include responsive('T-PRO') {
    &-header {
      padding-top: 0;
    }
  }
}
