.gnb {
  @include focus-thick;

  .gnb-menu {
    @include flexbox;
    width: 100%;
    height: 100%;
  }

  &-wrapper {
    @include flexbox(between);
    flex-wrap: wrap;
  }

  &-logo {
    @include inline-flexbox;
    flex-shrink: 0;
    order: 1;
  }

  &-nav {
    margin-right: 32px;
  }

  &-searchbar {
    order: 3;
    width: 100%;
    margin-bottom: 16px;

    .input-group {
      background-color: $background;
      border-radius: 100px;

      input {
        transition: background-color 200ms ease-in-out;

        &:hover,
        &:active,
        &:focus {
          background-color: $border;
        }
      }
    }
  }

  &-button-group {
    @include inline-flexbox(start);
    order: 2;
    margin-right: -10px;

    a {
      margin-right: 2px;

      &:last-child {
        margin: 0 !important;
      }
    }
  }

  @media screen and (min-width: 700px) {
    &-wrapper {
      @include flexbox(start);
      flex-wrap: nowrap;
    }

    &-logo {
      margin-right: 40px;
    }

    &-searchbar {
      order: 2;
      margin-right: 32px;
      margin-bottom: 0;
    }

    &-button-group {
      order: 3;
    }
  }

  @include responsive('T-PRO') {
    &-searchbar {
      margin-right: 40px;

      input {
        height: 54px;
      }
    }

    &-button-group {
      a {
        margin-right: 8px;
      }
    }
  }

  @include responsive(D) {
    &-wrapper > * {
      order: 0;
    }

    &-logo,
    &-searchbar {
      margin-right: 32px;
    }
  }
}
