.option-modal {
  @include modal(bottom, right);
  z-index: $option-modal-level;
  display: none;
  padding: 0 24px;

  &.is-active {
    display: block;
  }

  &.is-size {
    .option-size {
      display: block;
    }
  }

  &.is-color {
    .option-color {
      display: block;
    }
  }

  &-header {
    @include flexbox(start);
    flex-direction: row-reverse;
    height: 60px;

    button {
      margin-right: -12px;
    }
  }

  &-contents {
    .option-size,
    .option-color {
      display: none;
    }
  }

  @include responsive('T-PRO') {
    padding: 0 48px;

    &-header {
      height: 88px;
    }
  }
}
