.option-modal {
  @include modal-pos(bottom, right);
  @include modal-style-24;
  z-index: $option-modal-level;
  display: none;

  &.is-active {
    display: block;
  }

  &.is-size {
    .option-size {
      display: block;
    }
  }

  &.is-color {
    .option-color {
      display: block;
    }
  }

  .option-size,
  .option-color {
    display: none;
  }
}
