.product-show {
  .col-sm-4 {
    &.col-xl-4 {
      order: 2;
    }

    &.col-xl-8 {
      order: 1;
    }
  }

  .breadcrumb {
    margin-bottom: 40px;
  }

  .product-carousel {
    margin-bottom: 8px;
  }

  @include responsive('T') {
    .breadcrumb {
      margin-bottom: 64px;
    }
  }
}
