.product-show {
  &-content {
    .lg-hidden {
      order: 1;
    }

    .col-xl-4 {
      order: 2;
    }

    .col-xl-8 {
      order: 3;
    }
  }

  .breadcrumb {
    margin-bottom: 40px;

    .row {
      flex-direction: row-reverse;
      justify-content: flex-end;
    }
  }

  .product-carousel {
    padding-bottom: 8px;
  }

  @include responsive(T) {
    .breadcrumb {
      margin-bottom: 64px;
    }
  }

  @include responsive('T-PRO') {
    &-content {
      .row {
        flex-direction: row-reverse;
        justify-content: flex-end;
      }

      .lg-hidden,
      .col-xl-4,
      .col-xl-8 {
        order: 0;
      }
    }
  }
}
