.search-modal {
  @include modal-pos(top);
  @include modal-style-20;
  @include no-scrollbar;
  z-index: $search-modal-level;
  display: none;

  &.is-active {
    display: block;
  }

  &.is-empty .search-history.is-empty,
  &.is-exist .search-history.is-exist {
    display: block;
  }

  .modal-header {
    height: auto;
    padding-top: 8px;
    margin: 0 -8px;

    .input-group {
      input {
        border: 2px solid $blue;
      }

      .close-button {
        margin: 0;
      }
    }
  }

  .search-history {
    &.is-empty,
    &.is-exist {
      display: none;
    }
  }

  @include responsive(T) {
    position: absolute;
    width: auto;
    height: auto;
    padding: 0 32px;
    border-radius: 8px;

    .modal-header {
      padding-top: 12px;
      margin: 0 -20px;
    }
  }

  @include responsive('T-PRO') {
    .modal-header {
      .input-group {
        input {
          height: 54px;
        }
      }
    }
  }
}
