.sidebar {
  @include no-scrollbar;
  @include focus-thick;
  position: fixed;
  top: 0;
  left: 0;
  z-index: $sidebar-level;
  display: none;
  width: 100%;
  height: 100vh;
  padding: 0 20px;
  overflow-y: auto;
  background-color: $white;
  overscroll-behavior: contain;

  &.is-active {
    @include column-flexbox(start, start);
  }

  &-header {
    @include flexbox(between);
    position: relative;
    width: 100%;

    &-button {
      margin-right: -8px;
    }
  }

  &-footer {
    @include flexbox(start);
    width: 100%;
    padding: 48px 0 16px 0;
    margin-top: auto;

    &-language {
      position: relative;
      margin-right: 8px;

      &-select {
        @include no-chevron;
        @include text-style(12, $dark);
        padding: 0 40px 0 20px;
        font-weight: 700;
      }

      i {
        @include pos-center-y;
        right: 16px;
        color: $dark;
      }
    }

    &-country {
      &-link {
        @include text-style(12, $primary);
        position: relative;
        padding: 0 20px 0 40px;
        font-weight: 700;

        i {
          @include pos-center-y;
          left: 12px;
        }
      }
    }
  }

  @include responsive(T) {
    padding: 0 32px;
  }

  @include responsive('T-PRO') {
    $sidebar-padding-right: 50px;
    $sidebar-padding-left: 150px;

    width: 480px;
    padding-right: $sidebar-padding-right;
    padding-left: $sidebar-padding-left;

    &-header {
      &-button {
        @include pos-center-y;
        left: -$sidebar-padding-left + 54px;
      }
    }

    &-footer {
      padding: 32px 0 24px 0;
      margin-left: -10px;
    }
  }
}
