$black: #000;
$dark: #111;
$primary: #484848;
$secondary: #767676;
$tertiary: #929292;
$border: #dfdfdf;
$background: #f5f5f5;
$white: #fff;

$blue: #0058a3;
$blue-dark: #004f93;
$blue-light: #0077c1;

$orange: #ca5008;
$green: #0a8a00;
