$font-family: 'Noto Sans KR', sans-serif;

$font-size-11: 11px;
$line-height-11: 15px;
$letter-spacing-11: -0.005em;

$font-size-12: 12px;
$line-height-12: 18px;
$letter-spacing-12: -0.005em;

$font-size-14: 14px;
$line-height-14: 22px;
$letter-spacing-14: -0.01em;

$font-size-16: 16px;
$line-height-16: 24px;
$letter-spacing-16: -0.01em;

$font-size-20: 20px;
$line-height-20: 32px;
$letter-spacing-20: -0.01em;

$font-size-22: 22px;
$line-height-22: 32px;
$letter-spacing-22: -0.03em;

$font-size-25: 25px;
$line-height-25: 34px;
$letter-spacing-25: -0.02em;

$font-size-36: 36px;
$line-height-36: 49px;
$letter-spacing-36: -0.02em;
